
body {
    margin: 0;
    font-family: Arial, sans-serif;
}
.navbar {
    background-color: #333;
    overflow: hidden;
    display: flex;
    padding: 10px 20px;
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(3px);
    border-radius: 5px;
    box-shadow: 0 5px 30px 0 rgba(22, 32, 220, 0.37);
    padding-right: 35px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}
.navbar a {
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    text-align: center;
    
}
.navbar a:hover {
    background-color: #575757;
    border-radius: 5px;
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(3px);
    box-shadow: 0 5px 30px 0 rgba(22, 32, 220, 0.37);
  
}